.main__description {
  margin: 15px 0 10px 30px;
  padding-right: 3%;
}

.description {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 18px;
}

.description__text {
  flex: 1 1 100%;
  padding-right: 5%;
}

.description__img {
  flex: 1 1 100%;
}

.description__img img {
  max-width: 100%;
}

.description__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-left: 15px;

  &:link, &:visited, &:active {
    color: black;
  }
}

.get-offer {
  padding: 20px 35px;
  max-width: 550px;
}

.get-offer__text {
  margin-top: 30px;
  margin-bottom: 47px;
  display: inline-block;
}

.get-offer__link {
  text-decoration: none;
  font-weight: bold;
  color: black;

  &:link, &:visited, &:active {
    color: black;
}

  &:hover {
    color: $greyLink;
  }
}

.get-offer__link::after {
  content: url('../img/line.svg');
  padding-left: 10px;
  float: right;
}

@media (max-width: 767px) {
  .main__description {
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
  }

  .description__text--full, .description__text--tabletplus, .description__text--all {
    display: none;
  }

  .description__text {
    flex-wrap: wrap;
  }

  .description__img {
    align-self: center;
    min-width: 90%;
    height: 100%;
    margin-top: 10px;
    max-width: 250px;
    display: flex;

    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  .main__description {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .description__text {
    margin-left: 5px;
    max-width: 50%;
    justify-content: flex-start;
  }

  .description__img img {
    max-width: 100%;
    justify-content: flex-end;
  }

  .description__text--full, .description__text--all {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  .description__text {
    justify-content: flex-start;
    max-width: 750px;
  }

  .description__img {
    padding-top: 15px;
  }

  .main__description {
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-right: 3%;
  }
}
